node_modules
client/node_modules
server/node_modules
server/data/monitors.db
apps/web/server/public/screenshots/*
!apps/web/server/public/screenshots/.keep
apps/web/server/*.png
*.tar
server/chrome_user_data
*.env